@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

body {
    background: #E5E5E5;
}

#logo-cabeçalho {
    margin: 0 auto;
    margin: 40px 0 0 84px;
}

main {
    display: flex;
}

.inputTexto {
    text-transform: lowercase;
    position: absolute;
    width: 600px;
    height: 400px;
    left: 15%;
    top: 168px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    justify-content: baseline;
    resize: none;
    color: #0A3871;
    background: transparent;
    border: none;
}

.inputTexto:focus {
    border: none;
    outline: none;
}

.inputTexto::-webkit-scrollbar {
    display: none;
}

#descriçao {
    left: 16.6%;
    top: 860px;
    position: absolute;
    width: auto;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 47.2%;
    ;
    height: 67px;
    left: 16.6%;
    top: 688px;
}

.encriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 24px;
    gap: 8px;
    width: 48.5%;
    height: 67px;
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
}

.encriptar:active {
    background: #0c4891;
    ;
}

.descriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 24px;
    gap: 8px;
    width: 48.5%;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.descriptar:active {
    background: #c1c7cf;
}

.texto-encriptar {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;
}

.texto-descriptar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

#mensagem {
    position: absolute;
    width: 84%;
    height: 82.7%;
    background: #FFFFFF;
    resize: none;
    margin: 8%;
    border: none;
    color: #495057;
}

#mensagem::-webkit-scrollbar {
    display: none;
}

#mensagem:focus {
    outline: none;
    border: none;
}

#resultado {
    position: absolute;
    width: 27.7%;
    height: 728px;
    left: 69.4%;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: 1px solid #888;
}

#imagem-espera {
    position: absolute;
    width: 85%;
    height: 40%;
    top: 15%;
    margin: auto 8%;
}

#alerta-mensagem {
    position: absolute;

    width: 65%;
    height: 58px;
    top: 60%;
    left: 20%;
}

div#alerta-mensagem>h1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;

}

section>h1 {

    color: #343A40;
}

div#alerta-mensagem>h2 {
    height: 48px;
    margin-top: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Gray/gray-400 */

    color: #495057;
}

#btn-clipboard {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    align-content: stretch;
    justify-content: space-around;
    width: 84%;
    height: 7%;
    top: 90%;
    margin: auto 8%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
}

#btn-clipboard:active {
    background: #dddddd;
}

@media screen and (min-width: 375px) and (max-width: 768px) {

    body {
        background: #F3F5FC;
    }

    #logo-cabeçalho {
        margin: 40px 0 0 40px;
    }

    .inputTexto {
        width: 688px;
        height: 580px;
        left: 40px;
        top: 240px;
        background: #F3F5FC;
    }

    #descriçao {
        width: 327px;
        height: 18px;
        left: 40px;
        top: 836px;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
    }

    .botoes {
        width: 688px;
        height: 67px;
        left: 40px;
        top: 870px;
    }

    #resultado {
        width: 688px;
        height: 343px;
        left: 40px;
        top: 1001px;
        border: transparent;
    }

    #mensagem {
        width: 624px;
        height: 180px;
        margin: 4% 4% 0 4%;
    }

    #imagem-espera {
        display: none;
    }

    #alerta-mensagem {
        position: absolute;
        width: 0;
        height: 0;
        top: 145px;
        left: 25px;
    }

    div#alerta-mensagem>h1 {
        width: 624px;
        height: 29px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;

        text-align: center;
    }

    div#alerta-mensagem>h2 {
        width: 624px;
        height: 24px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        text-align: center;
    }

    #btn-clipboard {
        width: 576px;
        height: 67px;
        top: 70%;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        display: none;
    }
}

@media screen and (max-width: 375px) {

    body {
        background: #FFFFFF ;
    }

    #logo-cabeçalho {
        margin: 24px 327px 24px 16px;
    }

    .inputTexto {
        width: 343px;
        left: 16px;
        top: 152px;
    }

    #descriçao {
        width: 252px;
        height: 18px;
        left: 16px;
        top: 451px;
    }

    .botoes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        position: absolute;
        width: 343px;
        height: 158px;
        left: 16px;
        top: 485px;
    }

    #resultado {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        width: 327px;
        height: 186px;
        left: 24px;
        top: 707px;

    }
}